/* == Mobile default style - Mobile first ==== */
		
		#sub {
			width: 70%;
			float: left;
			display: block;
			margin: 3% 0% 3% 10%;
			padding: 5%;
			background-color: #FFFAF0;
			border: 0.1px solid;
			border-color: rgb(38, 38, 38);
			border-radius: 3px;
			opacity: 0.9;
		}
		#sub h1 {
			font: 2em Arial, Helvetica, sans-serif;
		}
		#sub h4 {
			font: 1em Arial, Helvetica, sans-serif;
			color: red;
		}
		#sub input[type="email"],
		#sub input[type="text"],
		#sub input[type="password"],
		#sub input[type="date"]
		{
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
			outline: none;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 70%;
			background: #fff;
			margin-bottom: 4%;
			border: 1px solid #ccc;
			padding: 3%;
			border-radius: 3px;
			color: #555;
			font: 2em Arial, Helvetica, sans-serif;
		}


		#sub input[type="email"]:focus,
		#sub input[type="text"]:focus,
		#sub input[type="date"]:focus,
		#sub input[type="password"]:focus {
			box-shadow: 0 0 5px #43D1AF;
			padding: 3%;
			border: 1px solid #43D1AF;
			border-radius: 3px;
		}

		#sub input[type="submit"],
		#sub input[type="botton"] 
		{
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 70%;
			padding: 3%;
			background: #2471FF;
			border-radius: 3px;
			border-bottom: 3px solid #5994FF;
			border-top-style: none;
			border-right-style: none;
			border-left-style: none;
			color: #D2E2FF;
			font: 2em Arial, Helvetica, sans-serif;
		}

		#sub input[type="submit"]:hover,
		#sub input[type="botton"]:hover {
			background: #6B9FFF;
			color:#fff;
		}
		#login {
			width: 70%;
			height: 50px;
			border-radius: 3px;
			padding: 5%;
			margin: 3% 10% 3% 10%;
            background-color: #FFFAF0;
            border: 0.1px solid;
            border-color: rgb(38, 38, 38);
            opacity: 0.9;
			float: left;
		}
		#login p {
			text-align: center;
			font: 2em Arial, Helvetica, sans-serif;
		}
		.error p {
			font: 0.8em Arial, Helvetica, sans-serif;
			color: rgb(38, 38, 38);
		}


	/* ------------------------------------------
IPAD LANDSCAPE + NOTEBOOK
 --------------------------------------- */
		@media only screen and (min-width: 992px) {
		
		#sub {
			width: 70%;
			float: left;
			display: block;
			margin: 5px auto;
			padding: 5px;
			background-color: #FFFAF0;
			border: 0.1px solid;
			border-color: rgb(38, 38, 38);
			border-radius: 3px;
			opacity: 0.9;
		}
		#sub input[type="email"],
		#sub input[type="text"],
		#sub input[type="password"],
		#sub input[type="date"]
		{
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
			outline: none;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 50%;
			background: #fff;
			margin-bottom: 4%;
			border: 1px solid #ccc;
			padding: 3%;
			border-radius: 3px;
			color: #555;
			font: 95% Arial, Helvetica, sans-serif;
		}


		#sub input[type="email"]:focus,
		#sub input[type="text"]:focus,
		#sub input[type="date"]:focus,
		#sub input[type="password"]:focus {
			box-shadow: 0 0 5px #43D1AF;
			padding: 3%;
			border: 1px solid #43D1AF;
			border-radius: 3px;
		}

		#sub input[type="submit"],
		#sub input[type="botton"] 
		{
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 50%;
			padding: 3%;
			background: #2471FF;
			border-radius: 3px;
			border-bottom: 3px solid #5994FF;
			border-top-style: none;
			border-right-style: none;
			border-left-style: none;
			color: #D2E2FF;
		}

		#sub input[type="submit"]:hover,
		#sub input[type="botton"]:hover {
			background: #6B9FFF;
			color:#fff;
		}
		#login {
			width:70%px;
			height: 50px;
			border-radius: 3px;
			margin: 5px auto;
                        padding: 5px;
                        background-color: #FFFAF0;
                        border: 0.1px solid;
                        border-color: rgb(38, 38, 38);
                        opacity: 0.9;
			float: left;
		}
		#login p {
			text-align: center;
			}

}